<!-- SGML
 Filename: display.erb
 Directory: /Users/abruzzim/Documents/ga_wdi/projects/my_face
 Author: Mario Abruzzi
 Date: 20-Dec-2013
 Desc: Week 03 - Day 05 - ME
 Notes: 
-->
<p>%DEBUG-I-DISPLAY_ERB, In display.erb</p><br />

<h1>Display My_Face</h1>

  <ul>
      <li>
        <p>My Name: Mario Abruzzi </p>
      </li>
      <li>
        <p>Hobby: Fly planes </p>
      </li>
      <li>
        <p>Hobby: Play guitar </p>
      </li>
      <li>
        <p>Picture: <img src="" alt="Mario Pic"> </p>
      </li>
  </ul>
