<!DOCTYPE html>
<!DOCTYPE html>
<!-- SGML Comment
 Filename: views/layout.erb
 Directory: /Users/abruzzim/Documents/ga_wdi/projects/my_face
 Version: 0.0-1
 Author: Mario Abruzzi
 Date: 20-Dec-2013
 Desc: 
 Notes: 
-->

<html>

  <head>
    <title>My Face Morning Exer</title>
    <link href="reset.css" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id="layout_container">
      <h1>Layout ERB</h1>
        <p>%DEBUG-I-LAYOUT_ERB, In layout.erb</p><br />
        <a href="/">Display</a>
    </div>

  <%= yield %>
  </body>

</html>

